@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
    --font-jetbrains: 'JetBrains Mono', monospace;
    --purple: #8304d1;
    --background: black;
    --buttonBackground: rgb(255, 255, 255);
    --buttonHover: black;

    /* Colors for the subsection backgrounds */
    --favoritesColor: #F6D454;
    --emailsColor: rgb(165, 64, 64);

}
body {
  font-family: var(--font-jetbrains);
  margin: 0;
  background-color: var(--background);
  color: white;
}