@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');


:root {
    --font-jetbrains: 'JetBrains Mono', monospace;
    --purple: #8304d1;
    --background: black;
    --buttonBackground: rgb(255, 255, 255);
    --buttonHover: black;

    /* Colors for the subsection backgrounds */
    --favoritesColor: #F6D454;
    --emailsColor: #a54040;
    --toDoColor: #5dc55d;
    --notesColor: #6880ce;

}
body {
  font-family: var(--font-jetbrains);
  margin: 0;
  background-color: var(--background);
  color: white;
}