.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

.coffee > div {
    color: white;
    background-color: #a66da5;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    gap: 10px;
}

.coffee {
    color: inherit;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-top: 2vh;
    width: 100%;
}

.popupTriggerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 0 50px;
}



.title {
    text-align: center;
    color: var(--purple);
    font-size: 70px;
    margin: 0;
    user-select: none;
}

.tileContainer {
    width: 97vw;
    max-width: 97vw;
    overflow-x: hidden;
}

@media (pointer: fine) {
    .coffee:hover {
        position: relative;
        bottom: 0.3vw;
    }

}

@media (max-width: 768px) {

    .title {
        font-size: 48px;
    }
    .tileContainer {
        width: 100%;
    }
}


