.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

.coffee {
    color: white;
    background-color: #a66da5;
    border-radius: 15px;
    padding: 0 25px;
    margin: 10px 0;
    transition-duration: 0.3s;
    position: relative;
    bottom: 0;
}

.coffee img {
    float: left;
    margin: 10px;
}

.coffee h2 {
    float: left;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 2vh;
}

.settingsCog {
    position: absolute;
    left: 2vw;
    top: 2vw;
    height: 5vh;
    transition-duration: 0.2s;
    z-index: 99;
}

.gamesButton {
    position: absolute;
    right: 2vw;
    top: 1.5vw;
    height: 5vh;
    transition-duration: 0.2s;
    z-index: 99;
}
.apps {
    position: absolute;
    left: 7vw;
    top: 2vw;
    height: 5vh;
    transition-duration: 0.2s;
    z-index: 99;
}

.email {
    position: absolute;
    right: 8vw;
    top: 2vw;
    height: 5vh;
    transition-duration: 0.2s;
    z-index: 99;
}

.title {
    text-align: center;
    color: var(--purple);
    font-size: 70px;
    margin: 0;
    user-select: none;
}

.tileContainer {
    width: 97vw;
    max-width: 97vw;
    overflow-x: hidden;
}

@media (pointer: fine) {

    .settingsCog:hover {
        cursor: pointer;
        height: 6vh;
        top: 1.75vw;
        left: 1.75vw;
        transform: rotate(90deg);
    }

    .gamesButton:hover {
        cursor: pointer;
        height: 6vh;
        top: 1.75vw;
        right: 1.75vw;
    }


    .coffee:hover {
        position: relative;
        bottom: 0.3vw;
    }

}

@media (max-width: 768px) {
    .settingsCog, .apps {
        height: 35px;
    }
    .settingsCog {
        left: 4vw;
        top: 3.5vh;
    }
    .apps {
        left: auto;
        right: 4vw;
        top: 3.5vh;
    }

    .email {
        left: auto;
        right: 10vw;
        top: 3.5vh;
    }
    .title {
        font-size: 48px;
    }
    .tileContainer {
        width: 100%;
    }
    .gamesButton {
        display: none;
    }

    @media (pointer: fine) {
        .apps:hover {
            cursor: pointer;
            height: 6vh;
            top: 2.75vw;
            right: 2.75vw;
        }

        .settingsCog:hover {
            cursor: pointer;
            height: 6vh;
            top: 2.75vw;
            left: 2.75vw;
        }

        .email:hover {
            cursor: pointer;
            height: 6vh;
            top: 2.75vw;
            right: 9.75vw;
        }
    }

}

@media (min-width: 769px) {
    .apps:hover {
        cursor: pointer;
        height: 6vh;
        top: 1.75vw;
        left: 6.75vw;
    }

    .email:hover {
        cursor: pointer;
        height: 6vh;
        top: 1.75vw;
        right: 7.75vw;
    }
}


