.fullscreen {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.popup {
    position: fixed;
    border: 2px solid var(--purple);
    border-radius: 10px;
    width: 40vw;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--background);
    color: white;
    -webkit-box-shadow:0px 0px 91px 60px rgba(131,4,177,0.39);
    -moz-box-shadow: 0px 0px 91px 60px rgba(131,4,177,0.39);
    box-shadow: 0px 0px 91px 60px rgba(131,4,177,0.39);
}
.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5vh;
    font-size: x-large;
}

.colorInput {
    height: 60%;
}

.form h2 {
    margin: 0;
}
.form input {
    outline: white;
    background-color: var(--background);
    border: 2px solid white;
    font-size: x-large;
    font-family: var(--font-jetbrains);
    color: white;
    padding: 0.6ch 1ch;
    border-radius: 12px;
    width: 60%;
}
.form button {
    background-color: var(--background);
    font-family: var(--font-jetbrains);
    color: white;
    font-size: x-large;
    padding: 0.6ch 1ch;
    border: 2px solid white;
    border-radius: 12px;

}
.popup > form > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.close {
    position: absolute;
    right: 20px;
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    color: white;
    border: 2px solid white;
    border-radius: 4px;
    background-color: var(--background);
}

.dropdown {
    width: 10vw;
    height: 3vh;
    border-radius: 15px;
    color: white;
    font-size: 18px;
    font-family: var(--font-jetbrains);
    background-color: var(--background);
}

@media (max-width: 850px) {
    .form {
        gap: 3vh;
        text-align: center;
        font-size: 22px;
    }
    .popup {
        width: 80vw;
        height: 50vh;
    }
}
@media (max-height: 1100px) {
    .form {
        gap: 0.05vh;
        font-size: 22px;
    }
    .popup {
        width: 80vw;
    }
}
@media (max-width: 340px) {
    .form {
        gap: 0.05vh;
        font-size: 22px;
    }
}
@media (pointer: fine) {
    .close {
        cursor: pointer;
    }
    .form button {
        cursor: pointer;
    }
}